<app-menu-header></app-menu-header>
<div class="container">
  <div class="bloco">
    <div class="row">
      <span class="center grey title-details">{{ starship.name }}</span>
    </div>
  </div>
  <div class="bloco">
    <div class="row">
      <div class="column">
        <div class="details">
          <span class="description"><strong>Name:</strong> {{ starship.name }}</span>
          <span class="description"><strong>model:</strong> {{ starship.model }}</span>
          <span class="description"><strong>Manufacturer:</strong> {{ starship.manufacturer }}</span>
          <span class="description"><strong>Cost in Credits:</strong> {{ starship.cost_in_credits }}</span>
          <span class="description"><strong>Length:</strong> {{ starship.length }}</span>
          <span class="description"><strong>Max Atmosphering Speed:</strong> {{ starship.max_atmosphering_speed }}</span>
          <span class="description"><strong>Crew:</strong> {{ starship.crew }}</span>
          <span class="description"><strong>Passengers:</strong> {{ starship.passengers }}</span>
          <span class="description"><strong>Cargo Capacity:</strong> {{ starship.cargo_capacity }}</span>
          <span class="description"><strong>Consumables:</strong> {{ starship.consumables }}</span>
          <span class="description"><strong>Hyperdrive Rating:</strong> {{ starship.hyperdrive_rating }}</span>
          <span class="description"><strong>MGLT:</strong> {{ starship.MGLT }}</span>
          <span class="description"><strong>Starship Class:</strong> {{ starship.starship_class }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
