<app-menu-header></app-menu-header>
<div class="container">
  <div class="bloco">
    <div class="row">
      <span class="center grey title-details">{{ people.name }}</span>
    </div>
  </div>

  <div class="bloco">
    <div class="row">
      <div class="column">
        <div class="details">
          <span class="description"><strong>Name:</strong> {{ people.name }}</span>
          <span class="description"><strong>Gender:</strong> {{ people.gender }}</span>
          <span class="description"><strong>Birth Year:</strong> {{ people.birth_year }}</span>
          <span class="description"><strong>Height:</strong> {{ people.height }}</span>
          <span class="description"><strong>Mass:</strong> {{ people.mass }}</span>
          <span class="description"><strong>Hair Color:</strong> {{ people.hair_color }}</span>
          <span class="description"><strong>Skin Color:</strong> {{ people.skin_color }}</span>
          <span class="description"><strong>Eye Color:</strong> {{ people.eye_color }}</span>
        </div>
      </div>
      <div class="column">
        <div class="details">
          <span class="description">Same Planet</span>
          <span class="description" *ngFor="let peoplePlanet of peoples">
            <a [routerLink]="['/people/id/', removeUrlPeople(peoplePlanet.url)]">{{ peoplePlanet.name }}</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
