<app-menu-header></app-menu-header>
<div class="container">
  <div class="bloco">
    <div class="row">
      <span class="center grey title-details">{{ vehicle.name }}</span>
    </div>
  </div>
  <div class="bloco">
    <div class="row">
      <div class="column">
        <div class="details">
          <span class="description"><strong>Name:</strong> {{ vehicle.name }}</span>
          <span class="description"><strong>Model:</strong> {{ vehicle.model }}</span>
          <span class="description"><strong>Manufacturer:</strong> {{ vehicle.manufacturer }}</span>
          <span class="description"><strong>Cost in Credits:</strong> {{ vehicle.cost_in_credits }}</span>
          <span class="description"><strong>Length:</strong> {{ vehicle.length }}</span>
          <span class="description"><strong>Max Atmosphering Speed:</strong> {{ vehicle.max_atmosphering_speed }}</span>
          <span class="description"><strong>Crew:</strong> {{ vehicle.crew }}</span>
          <span class="description"><strong>Passengers:</strong> {{ vehicle.passengers }}</span>
          <span class="description"><strong>Cargo Capacity:</strong> {{ vehicle.cargo_capacity }}</span>
          <span class="description"><strong>Consumables:</strong> {{ vehicle.consumables }}</span>
          <span class="description"><strong>Vehicle Class:</strong> {{ vehicle.vehicle_class }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
