.logo-star{
  margin:50px 0 0;
  width:250px;
}

.spinner {
  margin: 20% auto 0;
  width: 150px;
  text-align: center;
}

.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
body{
  background-image:url('assets/img/sprite-space.png');
  background-repeat: repeat;
}
a {
  color: #ffe81f;
  transition:all 0.3s linear;
}
a:hover{
  transition:all 0.3s linear;
}
.menu{
  max-width:620px;
  margin: 15px auto;
}
.menu ul li{
  display: inline-block;
}
.menu ul li a{
  font-size: 25px;
  padding:5px 10px;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}
.menu ul li a:hover{
  color:#fafafa;
  text-decoration:underline;
}
.bloco{
  margin:20px 0;
  padding:15px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
}
.person{
  display: inline-block;
  margin: 0 18px 50px;
  max-width: 150px;
}
.circle{
  border-radius: 60px;
  padding: 30px;
  max-width: 110px;
  background-color: rgba(0, 0, 0, 1);
}
.center{
  width: 100%;
  text-align: center;
}
.large{
  font-size: 48px;
}
.white{
  color:#fff;
}
.grey{
  color: #bcbcbc;
}
.black{
  color: #000;
}
.yellow{
  color:#ffe81f;
}
.btn{
  margin: 0 auto;
  display: block;
  color: #000;
  text-align: center;
  border:none;
}
.btn-yellow{
  background-color: #ffe81f;
}
.btn-grey{
  background-color: #bcbcbc;
}
.people-name{
  display: block;
  text-align: center;
}
.divider{
  margin-bottom: 15px;
  display: block;
  clear: both;
}
.search{
  max-width: 70%;
}
.go{
    border: none;
    background-color: #ffe81f;
    color: #000000;
}
.title-details{
  font-weight: 500;
  font-size: 22px;
}
.details{
  color:#bcbcbc;
}
.description{
  width: 100%;
  display: inline-block;
  margin: 5px 0;
}
